* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    margin-bottom: 5px;
}
.custom-na{
border-bottom: 1px solid grey;
border-top: 1px solid grey;
box-shadow: 1px solid grey;;
box-shadow: 3.5px 3.5px 3.5px 3.5px grey;
margin-top: 10px;
}
.user-logo{
        height: 50px;
        width: 50px;
       
        margin-left: 50;
        padding: 2px;      
}
.element-1{
    text-align: center;
    font-weight: 300;
    margin-top: 2pc;
}

/* PROMO SECTION */

.container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 0 auto;
    padding: 5px;
}

.column {
     width: 500px;
    height: auto;
    background-color: beige;
}

.pic-container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-1 {
    text-transform: uppercase;
    padding: 10px;
}

.text-2 {
    text-transform: capitalize;
    padding: 18px;
}

img:hover {
    cursor: pointer;
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    transform: translateY(0.1rem);
    transition: 150ms;
}
.new{
    text-align: center;
    margin-top: 40px;
    font-weight: bold;
    font-size:30px;
}
.cont{
    text-align: center;  
}
.button {
    cursor: pointer;
    border: 1px solid #dab307;
    background-color: transparent;
    color: #090a00;
    font-size: 1.5em;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.6);
    width: 20%;
    margin-left: 40%;
    border-radius: 5px 5px 5px 5px;
}
.mail{
font-weight: bold;
text-align: center;
}


/*.foo{
    background-color: rgb(197, 204, 204);
    padding: 70px 0;
} */
.container-fluid{
    max-width:100%;
    background-color: rgb(182, 171, 171);
    margin: auto;
}
.col{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: blue;
    padding: 70px 0;

}
.footer-col{
    width: 30%;
    padding: 0 15px ;
}
h6{
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;
    position: relative;
}
